@media (max-width: 900px) {
    .chapter-contentLeft { grid-column: 2 / 3;}
    .chapter-contentCenter { grid-column: 2 / 3; }
    .chapter-contentRight { grid-column: 2 / 3; }
}

@media (max-width: 700px) {
    footer {
        height: 100px;
    }
}

@media (max-width: 600px) {
    
    header nav {
        display: none;
    }
    
    header #navIcon {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
    
    header #navIcon img {
        width: 30px;
    }

    #banner {
        background-image: url("../img/banner_mobile.jpg");
    }
    
    #banner #caption {
        left: 0;
        top: 0px;
        height: 440px;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .chapters {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
}