body {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.backToPortfolio {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: #FFF;
    padding: 5px 10px;
    align-self: flex-start;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
p { font-size: 1em; }
input { margin-bottom: 10px;}

button, a {
    width: 100px;
    padding: 5px;
    background-color: #FFF;
    text-decoration: none;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    text-align: center;
}

button:hover, a:hover {
    background-color: #00F;
    color: white;
}

.menu {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #00f -webkit-linear-gradient(
        top, rgba(255,255,255,0.3), 
        rgba(255,255,255,1));
}

.menu a {
    margin: 5px;
}

.displayUsers {
    width: 100%;
}

.users {
    border: solid 20px #36f;
    padding: 5px 10px 5px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 150px;
    justify-content: space-between;
    align-items: center;
}

.users:nth-child(2n) {
    border: solid 20px #3af;
}

.users * {
    width: 100px;
    text-align: center;
}

.users img, .posts img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: solid 2px #666;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black,
        inset 0 0 5px black;
}

.post_create {
    display: flex;
    flex-direction: column;
}

.posts {
    border: 20px solid;
    border-image: repeating-linear-gradient(45deg, #36f, #3bf, #36f 20px) 30;
    display: grid;
    grid-template-columns: 100px 100px auto 95px;
    grid-template-rows: 1;
    align-items: center;
    justify-items: center;
}

.posts:nth-child(2n) {
    /* background: #00f -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 1) 2%, 
        rgba(255, 255, 255, 0.4)99%); */
        border: 20px solid;
        border-image: repeating-linear-gradient(135deg, #36f, #3bf, #36f 20px) 30;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.inputs #bio {
    height: 200px;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    text-align: center;
    border-top: solid 1px #ccc;
    background: #666 -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
}

