<!--
Original site:
http://art.yale.edu/
-->

<!DOCTYPE html>
<html>
<head>
    <title>Yale University School of Art</title>
    
    <meta charset="utf-8">
    <meta name="robots" content="noodp">
    <meta name="description" content="The Yale University School of Art | A redesign for BCIT MDIA 3292 Layout Project" />
    
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/response.css">
</head>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124942481-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124942481-1');
</script>
<!-- Hotjar Tracking Code for huangyijiang.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:979410,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<body>
    <div class="backToPortfolio">
        <a href="../web4.html">Back to my portfolio</a>
    </div>
    <div id="wrapper">
        <header>
            <div class="banner">
                <h1>Yale University School of Art</h1>
            </div>
        </header>
        
        <div class="mobileNav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="menu-collapse">Students</a></li>
                        <ul class="menu-sub">
                            <li><a href="#" class="sub-item">Admissions</a></li>
                            <li><a href="#" class="sub-item">Current Students</a></li>
                            <li><a href="#" class="sub-item">Undergraduate</a></li>
                            <li><a href="#" class="sub-item">Calendars</a></li>
                            <li><a href="#" class="sub-item">Courses</a></li>
                            <li><a href="#" class="sub-item">Summer Programs</a></li>
                            <li><a href="#" class="sub-item">Facilities</a></li>
                            <li><a href="#" class="sub-item">Study Areas</a></li>
                            <li><a href="#" class="sub-item">Finalcial Aid</a></li>
                        </ul>
                    
                    <li><a href="#" class="menu-collapse">Faculties</a></li>
                        <ul class="menu-sub">
                            <li><a href="#" class="sub-item">Calendars</a></li>
                            <li><a href="#" class="sub-item">Facilities</a></li>
                            <li><a href="#" class="sub-item">Faculty And Staff</a></li>
                            <li><a href="#" class="sub-item">Edit this page</a></li>
                        </ul>
                    
                    <li><a href="#" class="menu-collapse">Visitors</a></li>
                        <ul class="menu-sub">
                            <li><a href="#" class="sub-item">Visitor: Log in</a></li>
                            <li><a href="#" class="sub-item">Alums</a></li>
                            <li><a href="#" class="sub-item">Recent Changes</a></li>
                            <li><a href="#" class="sub-item">Contact</a></li>
                        </ul>
                    
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#" class="menu-collapse">Everything Else</a></li>
                        <ul class="menu-sub">
                            <li><a href="#" class="sub-item">About This Site</a></li>
                            <li><a href="#" class="sub-item">Page history</a></li>
                        </ul>
                    
                </ul>
            </div><!--END OF MOBILE NAV-->
        
        <section>
            <aside class="sideNavs">
                <ul class="sideNav1">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Admissions</a></li>
                    <li><a href="#">Alums</a></li>
                    <li><a href="#">Calendars</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Current Students</a></li>
                    <li><a href="#">Facilities</a></li>
                    <li><a href="#">Faculty And Staff</a></li>
                    <li><a href="#">Finalcial Aid</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Recent Changes</a></li>
                    <li><a href="#">Study Areas</a></li>
                    <li><a href="#">Summer Programs</a></li>
                    <li><a href="#">Undergraduate</a></li>
                    <li><a href="#">Visiting</a></li>
                    <li><a href="#">Everything Else</a></li>
                    <li><a href="#">About This Site</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <ul class="sideNav2">
                    <li><a href="#">Visitor: Log in</a></li>
                    <li><a href="#">Edit this page</a></li>
                    <li><a href="#">Page history</a></li>
                    <li><p>Page last changed by:<br>Sarah Stevens-Morling</p></li>
                    <li><p>Background changed by:<br>Emily Cappa</p></li>
                    <li><p>Background editable by:<br>Everyone</p></li>
                </ul>
            </aside><!-- END OF SIDEBAR NAV-->
            
            

            <div class="articles">
                <article>
                    <h2 class="article-title">
                        <a href="#">Get News form Yale School of Art in Your Inbox, <br>Sign-Up for Our Newsletters &rarr;</a></h2>
                    <h4 class="article-footer">Annoucement by Sarah Stevens-Morling
                        <br>Edit access: Sysop</h4>
                </article>

                <article>
                    <h2 class="article-title">
                        <a href="#">Yale School of Art's Art &amp; Social Justice Intitiative Announces a Graduate Teaching Program at the Manson Youth Insitiution in Cheshire, Connecticut in Partnership with the Yale Prison Education Initiative at Dwight Hall</a></h2>
                    <h4 class="article-footer">Last edited by: Sarah Stevens-Morling
                        <br>Edit access: Sysop</h4>
                </article>

                <article>
                    <h2 class="article-title">
                        <a href="#">Yale School of Art seeks tenure-track faculty in Painting and Printmaking</a></h2>
                    <h4 class="article-footer">Announcement by: Sarah Stevens-Morling
                        <br>Edit access: Sysop</h4>
                </article>

                <article>
                    <h2 class="article-title">
                        <a href="#">AKI SASAMOTO APPOINTED ASSISTANT PROFESSOR IN SCULPTURE</a></h2>
                    <img src="img/sasamoto_portrait-lores.jpg" alt="sasamoto portrait">
                    <p><a href="#">Read More &rang;&rang;</a></p>
                    <h4 class="article-footer">Last edited by: Sarah Stevens-Morling
                        <br>Edit access: Sysop</h4>
                </article>

                <article>
                    <h2 class="article-title">
                        <a href="#">SCHOOL OF ART EVENTS CALENDAR</a></h2>
                    <p>See a listing of all School of Art Events and affiliated events of interest at Yale University.</p>
                    <p><a href="#">Click here!</a></p>
                    <h4 class="article-footer">Last edited by: Sarah Stevens-Morling
                        <br>Edit access: Sysop</h4>
                </article>
            </div><!-- END OF ARTICLES-->
        </section>
    
        <footer>
            <p>This website is a wiki. All School of Art grad students, faculty, staff, and alums have the ability to change most of this site’s content (with some exceptions); and to add new content and pages.</p>
            
            <p>Content is the property of its various authors. When you contribute to this site, you agree to abide by Yale University academic and network use policy, and to act as a responsible member of our community. In this way, we hope the content of this site reflects the unique vitality of our school.</p>
            <h5>&copy;2018 
                <a href="#">Feedback</a>
                <a href="#">About this site</a>
                <a href="#">Accessiblility at Yale</a>
            </h5>
        </footer>
    </div><!--END OF WRAPPER-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/script.js"></script>    
</body>    


</html>