@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

.backToPortfolio {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: #FFF;
    padding: 5px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


body {
    background-color: #CCC;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header .banner {
    height: 500px;
    background: url("../img/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-family: 'Robot', sans-serif;
    font-size: 4em;
    padding: 1.2em 1em;
    background-color: rgba(127, 127, 127, 0.6);
    color: #FFF;
    text-shadow: 0 1px 1px #000;display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    background: #EEE -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0));
}

.sideNavs {
    display: flex;
    flex-direction: column;
    background-color: #e22f2f;
}

.sideNavs ul li {
    list-style: none;
    border-bottom: solid 1px #FFF;
}

.sideNav2 li:first-child {
    border-top: solid 1px #FFF;
}

.sideNav1 a, .sideNav2 a {
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.sideNav1 a:hover, .sideNav2 a:hover {
    background-color: #ea7070;
    font-weight: 100;
    box-shadow: inset 0 0 2px #555;
}

.sideNav2 {
    margin-top: 50px;
}

.sideNav2 p {
    padding: 5px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.mobileNav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #e22f2f;
    margin: 10px 0;
}

.mobileNav ul {
    list-style: none;
    width: 100%;
}

.mobileNav ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    text-align: right;
    padding: 5px 30px;
    border-bottom: solid 1px #777;
}

.mobileNav ul li a:hover {
    color: #FFF;
    background-color: #ea7070;
}


.menu-collapse::after {
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
    border-top: solid 6px #FFF;
    content: "";
    margin-right: -8px;
    width: 0;
    height: 0;
    position: relative;
    top: 11px;
    right: -10px;
}

.menu-sub {
    display: none;
}

.menu-sub .sub-item {
    background-color: #e26161;
}

.articles {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.articles article {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #CCC;
}

.articles article:last-child {
    border: none;
}

article h2{
    font-size: 1.5em;
    padding: 5px;
}

article h4 {
    padding: 5px 5px 0px 12px;
    font-weight: 100;
}

article p {
    padding: 10px;
}

article p a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 2em;
    width: 100px;
    border: solid 1px #CCC;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #DDD;
    background: #2bfd30 -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0.9));
}

article p a:hover {
    background: #2bfd30 -webkit-linear-gradient(left, rgba(255,255,255,0.5), rgba(255,255,255,0.8));
}

article img {
    width: 100%;
}

footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: #000 -webkit-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,0));
    color: #CCC;
    font-weight: 100;
}

footer p {
    max-width: 1000px;
    margin: 0 auto;
}

footer h5 {
    margin: 5px auto;
}

footer h5 a {
    color: #CCC;
    font-weight: 100;
    margin: 5px;
}