<div class="inputs">
    <input type="text" id="email" placeholder="Email">
    <input type="password" id="password" placeholder="Password">
    <input type="text" id="displayName" placeholder="Nick Name">
    <input type="text" id="bio" placeholder="Bio">
    <select id="selectAvatar">
        <option value="custom">Custom Avatar</option>
        <option value="default">Default</option>
        <option value="default2">Default2</option>
        <option value="default3">Default3</option>
    </select>
    <input type="text" id="avatar" placeholder="Avatar Url">
</div>

<div class="controls">
    <button id="editUser">Confirm</button>
    <button id="deleteUser">Delete!</button>
</div>

<script src="js/user_edit.js"></script>